// Seed colors.
$seed-black: #000000;
$seed-white: #ffffff;
$seed-red: #DD1829;
$seed-blue: #347794;
$seed-green: #448344;
$seed-orange: #CB4D01;
$seed-yellow: #FFC222;
$seed-purple: #5355BB;

// Palettes
$palettes-primary-red-10: #580A10;
$palettes-primary-red-20: #850E19;
$palettes-primary-red-30: #B11321;
$palettes-primary-red-40: #DD1829;
$palettes-primary-red-50: #E44654;
$palettes-primary-red-60: #EB747F;
$palettes-primary-red-70: #F1A3A9;
$palettes-primary-red-80: #F8D1D4;
$palettes-primary-red-90: #FFEDEB;
$palettes-primary-red-95: #FFF8F8;
$palettes-primary-red-99: #FFFBFF;
$palettes-accent-blue-10: #0D1E25;
$palettes-accent-blue-20: #1A3C4A;
$palettes-accent-blue-30: #27596F;
$palettes-accent-blue-40: #347794;
$palettes-accent-blue-50: #4195B9;
$palettes-accent-blue-60: #67AAC7;
$palettes-accent-blue-70: #8DBFD5;
$palettes-accent-blue-80: #B3D5E3;
$palettes-accent-blue-90: #D9EAF1;
$palettes-accent-blue-95: #EEF9FE;
$palettes-accent-blue-99: #F8FDFF;
$palettes-accent-yellow-10: #664E0E;
$palettes-accent-yellow-20: #997414;
$palettes-accent-yellow-30: #CC9B1B;
$palettes-accent-yellow-40: #FFC222;
$palettes-accent-yellow-50: #FFCE4E;
$palettes-accent-yellow-60: #FFDA7A;
$palettes-accent-yellow-70: #FFE7A7;
$palettes-accent-yellow-80: #FFF3D3;
$palettes-accent-yellow-90: #FFF7E2;
$palettes-accent-yellow-95: #FFFBF2;
$palettes-accent-yellow-99: #FFFEFA;
$palettes-accent-green-10: #1B341B;
$palettes-accent-green-20: #294F29;
$palettes-accent-green-30: #366936;
$palettes-accent-green-40: #448344;
$palettes-accent-green-50: #699C69;
$palettes-accent-green-60: #8FB58F;
$palettes-accent-green-70: #B4CDB4;
$palettes-accent-green-80: #DAE6DA;
$palettes-accent-green-90: #E7F3E7;
$palettes-accent-green-95: #F1FAF1;
$palettes-accent-green-99: #F5FDF5;
$palettes-accent-orange-10: #511F00;
$palettes-accent-orange-20: #7A2E01;
$palettes-accent-orange-30: #A23E01;
$palettes-accent-orange-40: #CB4D01;
$palettes-accent-orange-50: #D57134;
$palettes-accent-orange-60: #E09467;
$palettes-accent-orange-70: #EAB899;
$palettes-accent-orange-80: #F5DBCC;
$palettes-accent-orange-90: #FFEDE6;
$palettes-accent-orange-95: #FFF6F2;
$palettes-accent-orange-99: #FFFCFB;
$palettes-accent-purple-10: #F2F3FF;
$palettes-accent-purple-20: #CECEFF;
$palettes-accent-purple-30: #A9AAFF;
$palettes-accent-purple-40: #7F81F5;
$palettes-accent-purple-50: #686AD8;
$palettes-accent-purple-60: #5355BB;
$palettes-accent-purple-70: #40429E;
$palettes-accent-purple-80: #303181;
$palettes-accent-purple-90: #212364;
$palettes-accent-purple-100: #151646;
$palettes-neutral-neutral-4: #0B0F0F;
$palettes-neutral-neutral-6: #101414;
$palettes-neutral-neutral-10: #191C1D;
$palettes-neutral-neutral-12: #1D2020;
$palettes-neutral-neutral-14: #272B2B;
$palettes-neutral-neutral-16: #323536;
$palettes-neutral-neutral-17: #363A3A;
$palettes-neutral-neutral-20: #444748;
$palettes-neutral-neutral-30: #444747;
$palettes-neutral-neutral-40: #5C5F5F;
$palettes-neutral-neutral-50: #747878;
$palettes-neutral-neutral-60: #8E9192;
$palettes-neutral-neutral-70: #A9ACAC;
$palettes-neutral-neutral-80: #C4C7C7;
$palettes-neutral-neutral-87: #D8DADA;
$palettes-neutral-neutral-90: #E1E3E3;
$palettes-neutral-neutral-92: #E6E9E8;
$palettes-neutral-neutral-94: #ECEEEE;
$palettes-neutral-neutral-95: #EFF1F1;
$palettes-neutral-neutral-96: #F2F4F4;
$palettes-neutral-neutral-98: #F7FAF9;
$palettes-neutral-neutral-99: #FCFCFC;
$palettes-neutral-n-variant-10: #141D1F;
$palettes-neutral-n-variant-20: #293234;
$palettes-neutral-n-variant-30: #3F484A;
$palettes-neutral-n-variant-40: #576062;
$palettes-neutral-n-variant-50: #71797A;
$palettes-neutral-n-variant-60: #899294;
$palettes-neutral-n-variant-70: #A3ADAF;
$palettes-neutral-n-variant-80: #BFC8CA;
$palettes-neutral-n-variant-90: #DBE4E6;
$palettes-neutral-n-variant-95: #E9F2F5;
$palettes-neutral-n-variant-99: #FCFCFC;

// Functional. Light and dark refers to theme.
$color-primary-low-light: #FFEDEB;
$color-primary-low-dark: #FFEDEB;
$color-primary-default-light: #DD1829;
$color-primary-default-dark: #DD1829;
$color-primaryhigh-light: #B11321;
$color-primaryhigh-dark: #B11321;
$color-primary-higher-light: #580A10;
$color-primary-higher-dark: #580A10;
$color-secondary-low-light: #D9EAF1;
$color-secondary-low-dark: #D9EAF1;
$color-secondary-default-light: #347794;
$color-secondary-default-dark: #347794;
$color-secondary-high-light: #27596F;
$color-secondary-high-dark: #27596F;
$color-secondary-higher-light: #0D1E25;
$color-secondary-higher-dark: #0D1E25;
$color-info-low-light: #CECEFF;
$color-info-low-dark: #CECEFF;
$color-info-default-light: #5355BB;
$color-info-default-dark: #5355BB;
$color-info-high-light: #40429E;
$color-info-high-dark: #40429E;
$color-info-higher-light: #303181;
$color-info-higher-dark: #303181;
$color-validation-low-light: #E7F3E7;
$color-validation-low-dark: #E7F3E7;
$color-validation-default-light: #448344;
$color-validation-default-dark: #448344;
$color-validation-high-light: #366936;
$color-validation-high-dark: #366936;
$color-validation-higher-light: #1B341B;
$color-validation-higher-dark: #1B341B;
$color-warning-low-light: #FFF7E2;
$color-warning-low-dark: #FFF7E2;
$color-warning-default-light: #FFC222;
$color-warning-default-dark: #FFC222;
$color-warning-high-light: #CC9B1B;
$color-warning-high-dark: #CC9B1B;
$color-warning-higher-light: #664E0E;
$color-warning-higher-dark: #664E0E;
$color-error-low-light: #FFEDE6;
$color-error-low-dark: #FFEDE6;
$color-error-default-light: #CB4D01;
$color-error-default-dark: #CB4D01;
$color-error-high-light: #A23E01;
$color-error-high-dark: #A23E01;
$color-error-higher-light: #511F00;
$color-error-higher-dark: #511F00;
$color-surface-lowest-light: #F7FAF9;
$color-surface-lowest-dark: #101414;
$color-surface-low-light: #ffffff;
$color-surface-low-dark: #0B0F0F;
$color-surface-high-light: #E1E3E3;
$color-surface-high-dark: #323536;
$color-surface-higher-light: #71797A;
$color-surface-higher-dark: #899294;
$color-surface-inverse-light: #444748;
$color-surface-inverse-dark: #E1E3E3;
$color-text-bright-light: #ffffff;
$color-text-bright-dark: #ffffff;
$color-text-primary-light: #191C1D;
$color-text-primary-dark: #E1E3E3;
$color-text-secondary-light: #576062;
$color-text-secondary-dark: #BFC8CA;
$color-text-disabled-light: #BFC8CA;
$color-text-disabled-dark: #3F484A;
$color-text-primary-inverse-light: #E1E3E3;
$color-text-primary-inverse-dark: #191C1D;
$color-text-secondary-inverse-light: #EFF1F1;
$color-text-secondary-inverse-dark: #444748;
$color-outline-high-light: #71797A;
$color-outline-high-dark: #899294;
$color-outline-default-light: #BFC8CA;
$color-outline-default-dark: #3F484A;
$color-outline-low-light: #ECEEEE;
$color-outline-low-dark: #293234;
$color-scrim-light: #000000;
$color-scrim-dark: #000000;
$color-shadow-light: #000000;
$color-shadow-dark: #000000;
$color-icons-blue-light: #4195B9;
$color-icons-blue-dark: #4195B9;
$color-icons-green-light: #699C69;
$color-icons-green-dark: #699C69;
$color-icons-red-light: #DD1829;
$color-icons-red-dark: #DD1829;

