/* Additional styles */


html {
   
    font-size: $scale-medium;
}

body {
    font-family: var(--font-family);
    color: var(--text-color);
    background-color: var(--surface-ground);
    margin: 0;
    padding: 0;
    min-height: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    text-decoration: none;
    color: var(--primary-color);
}



.p-inputtext{
    line-height: 1.5;
}

.p-togglebutton.p-button {
    padding: 4px 8px!important;
    font-size: $size-small !important;
    font-weight: 500 !important;
    line-height: 20px !important;
    
}
.p-selectbutton{
    .p-button{
        padding: 4px 8px!important;
        font-size: $size-small !important;
        font-weight: 500 !important;
        line-height: 20px !important;
    }
}

.p-multiselect-token {
    
    background: $color-secondary-low-light!important;
    color: $color-secondary-high-light!important;
    border-radius: $borderRadius;

    .p-multiselect-token-icon {
        margin-left: $inlineSpacing;
    }
}


.p-dropdown-panel{
    border-radius: 0 !important;
    margin-top: 8px !important;
    border-width: 1px !important;
    border-color: $color-outline-high-light !important;
}

.p-datepicker {
    .p-datepicker-header {
        .p-datepicker-prev,
        .p-datepicker-next {
            color: $color-text-secondary-light;

            &:enabled:hover {
                color: $color-primary-default-light;
                background-color: $color-surface-low-light;
            }
        }
    }

    &.p-datepicker-multiple-month {
        .p-datepicker-group {
            border-right: 1px solid rgba(255,255,255,.2);
        }
    }

    .p-datepicker-buttonbar {
        border-top: 1px solid rgba(255,255,255,.2);

        .p-button {
            color: $primaryTextColor;

            &:enabled:hover {
                color: $primaryTextColor;
                background-color: rgba(255,255,255,.2);
            }
        }
    }

    .p-timepicker {
        border-top: 1px solid rgba(255,255,255,.2);

        .p-link {
            color: $primaryTextColor;

            &:enabled:hover {
                color: $primaryTextColor;
                background-color: rgba(255,255,255,.2);
            }
        }
    }

    table {
        font-size: $fontSize;
        margin: $calendarTableMargin;

        th {
            color: $color-text-primary-light;
            font-weight: 400!important;
        }

        td {
            > span {
                &.p-highlight {
                    color: $primaryTextColor;
                    background: $color-primary-default-light;
                }
            }

            &.p-datepicker-today {
                > span {
                    &.p-highlight {
                        color: $primaryTextColor;
                        background: rgba(255,255,255,.3);
                    }
                }
            }
        }
    }

    .p-monthpicker {
        .p-monthpicker-month {
            &.p-highlight {
                color: $color-secondary-default-light;
                background: $color-secondary-low-light;
            }
        }
    }
}

.p-button {
    border-radius: $borderRadiusButton;
    .p-button-label {
        font-weight: 500;
        
    }
}

.p-carousel {
    .p-carousel-indicators .p-carousel-indicator.p-highlight button {
        background-color: $primaryColor;
    }
}

.p-message-wrapper{
    p{
        margin-top: 0!important;
        >i{
margin-right: $spacing-large!important;
        }
    }
}
.p-datepicker-trigger, .p-autocomplete-dropdown{
    background-color: $color-surface-low-light!important;
    color: $color-primary-default-light!important;
    border-color: $color-outline-default-light!important;
    border-width: 1px 1px 1px 0px!important;
    &:hover{
        border-color: $color-outline-high-light!important;
    }
}



.p-inputnumber-button{
    background-color: $color-surface-low-light!important;
    color: $color-primary-default-light!important;
    border-color: $color-outline-default-light!important;
    border-width: 0px!important;
    &:hover{
        border-color: $color-outline-high-light!important;
    }
}

.p-inputnumber-button-up{
    border-color: $color-outline-default-light!important;
    border-width: 1px 1px 0px 0px!important;
}

.p-inputnumber-button-down{
    border-color: $color-outline-default-light!important;
    border-width: 0px 1px 1px 0px!important;
}

.p-calendar, .p-autocomplete, .p-inputnumber{
    .p-inputtext{
        border-width: 1px 0px 1px 1px!important;
    }
}


.p-galleria {
    .p-galleria-indicators .p-galleria-indicator.p-highlight button {
        background-color: $primaryColor;
    }
}

.p-datatable {
    .p-datatable-tbody {
        > tr {
            &.p-datatable-dragpoint-top > td {
                box-shadow: inset 0 2px 0 0 $primaryColor;
            }

            &.p-datatable-dragpoint-bottom > td {
                box-shadow: inset 0 -2px 0 0 $primaryColor;
            }
        }
    }
}

.p-datatable {
    .p-datatable-tbody {
        >tr>td{
            border-bottom: 1px solid $color-outline-low-light!important;
        }
    }}



.p-dropdown{
    .p-dropdown-trigger-icon{
        color: $primaryColor;
    }
    .p-dropdown-clear-icon{
        color: $color-text-secondary-light;
    }
}

.p-multiselect-trigger-icon{
    color: $primaryColor;
}

.p-listbox-filter-icon::before {
    color: $primaryColor;
}

.p-input-icon-left, .p-input-icon-right, .p-inputgroup-addon{
    .pi::before{
        color: $primaryColor;
    }
}



.gap-small{
    gap: $size-small;
}

.padding-small{
    padding: $size-small;
}

.margin-small{
    margin: $size-small;
}

.container{
   
    border-radius: $radius-large;
    background: $color-surface-low-light;
    
}

.p-datatable-header{
    background-color: $color-surface-low-light;
    border-radius: $radius-medium;
    margin-bottom: 1rem;
    padding: 1.5rem;

}

.p-datatable-wrapper{
    border-radius: $radius-large;
}

.p-datatable-thead{
    border-bottom: 1px solid $color-outline-low-light!important;
}

.p-tag-info{
    background-color: $color-info-low-light!important;
    color: $color-info-high-light!important;
}

.p-tag-warning{
    background-color: $color-warning-low-light!important;
    color: $color-warning-high-light!important;
}

.p-tag-danger{
    background-color: $color-error-low-light!important;
    color: $color-error-high-light!important;
}

.table-column-controls{
    border-bottom: 1px solid $color-outline-low-light!important;
    border-top: 1px solid $color-outline-low-light!important;
    padding:$spacing-small!important;
}

.table-column-label{
    padding:$spacing-large $spacing-small!important;
}











