// Scale

$scale-medium: 1rem;
$scale-small: 0.75rem;
$scale-large: 1.5rem;
$scale-tiny: 0.25rem;
$scale-x-small: 0.5rem;
$scale-small: 0.75rem;
$scale-medium: 1rem;
$scale-large: 1.5rem;
$scale-x-large: 2rem;
$scale-xx-large: 2.5rem;
$scale-xxx-large: 3rem;

// Sizes

$size-small: $scale-small;
$size-medium: $scale-medium;
$size-large: $scale-large;
$size-x-large: $scale-x-large;

// Border radious

$radius-small: $scale-x-small;
$radius-medium: $scale-medium;
$radius-large: $scale-large;
