

//Seed colors. Used to generate the palettes

$seed-black: #000000;
$seed-white: #ffffff;
$seed-red: #DD1829;
$seed-blue: #347794;
$seed-green: #448344;
$seed-orange: #CB4D01;
$seed-yellow: #FFC222;
$seed-purple: #5355BB;

// Palettes

//Primary
$palettes-primary-red-10: #580A10;
$palettes-primary-red-20: #850E19;
$palettes-primary-red-30: #B11321;
$palettes-primary-red-40: #DD1829;
$palettes-primary-red-50: #E44654;
$palettes-primary-red-60: #EB747F;
$palettes-primary-red-70: #F1A3A9;
$palettes-primary-red-80: #F8D1D4;
$palettes-primary-red-90: #FFEDEB;
$palettes-primary-red-95: #FFF8F8;
$palettes-primary-red-99: #FFFBFF;

$palettes-accent-blue-10: #0D1E25;
$palettes-accent-blue-20: #1A3C4A;
$palettes-accent-blue-30: #27596F;
$palettes-accent-blue-40: #347794;
$palettes-accent-blue-50: #4195B9;
$palettes-accent-blue-60: #67AAC7;
$palettes-accent-blue-70: #8DBFD5;
$palettes-accent-blue-80: #B3D5E3;
$palettes-accent-blue-90: #D9EAF1;
$palettes-accent-blue-95: #EEF9FE;
$palettes-accent-blue-99: #F8FDFF;

//Accent colors

$palettes-accent-yellow-10: #664E0E;
$palettes-accent-yellow-20: #997414;
$palettes-accent-yellow-30: #CC9B1B;
$palettes-accent-yellow-40: #FFC222;
$palettes-accent-yellow-50: #FFCE4E;
$palettes-accent-yellow-60: #FFDA7A;
$palettes-accent-yellow-70: #FFE7A7;
$palettes-accent-yellow-80: #FFF3D3;
$palettes-accent-yellow-90: #FFF7E2;
$palettes-accent-yellow-95: #FFFBF2;
$palettes-accent-yellow-99: #FFFEFA;

$palettes-accent-green-10: #1B341B;
$palettes-accent-green-20: #294F29;
$palettes-accent-green-30: #366936;
$palettes-accent-green-40: #448344;
$palettes-accent-green-50: #699C69;
$palettes-accent-green-60: #8FB58F;
$palettes-accent-green-70: #B4CDB4;
$palettes-accent-green-80: #DAE6DA;
$palettes-accent-green-90: #E7F3E7;
$palettes-accent-green-95: #F1FAF1;
$palettes-accent-green-99: #F5FDF5;

$palettes-accent-orange-10: #511F00;
$palettes-accent-orange-20: #7A2E01;
$palettes-accent-orange-30: #A23E01;
$palettes-accent-orange-40: #CB4D01;
$palettes-accent-orange-50: #D57134;
$palettes-accent-orange-60: #E09467;
$palettes-accent-orange-70: #EAB899;
$palettes-accent-orange-80: #F5DBCC;
$palettes-accent-orange-90: #FFEDE6;
$palettes-accent-orange-95: #FFF6F2;
$palettes-accent-orange-99: #FFFCFB;

$palettes-accent-purple-10: #F2F3FF;
$palettes-accent-purple-20: #CECEFF;
$palettes-accent-purple-30: #A9AAFF;
$palettes-accent-purple-40: #7F81F5;
$palettes-accent-purple-50: #686AD8;
$palettes-accent-purple-60: #5355BB;
$palettes-accent-purple-70: #40429E;
$palettes-accent-purple-80: #303181;
$palettes-accent-purple-90: #212364;
$palettes-accent-purple-100: #151646;

// Neutrals

$palettes-neutral-default-4: #0B0F0F;
$palettes-neutral-default-6: #101414;
$palettes-neutral-default-10: #191C1D;
$palettes-neutral-default-12: #1D2020;
$palettes-neutral-default-14: #272B2B;
$palettes-neutral-default-16: #323536;
$palettes-neutral-default-17: #363A3A;
$palettes-neutral-default-20: #444748;
$palettes-neutral-default-30: #444747;
$palettes-neutral-default-40: #5C5F5F;
$palettes-neutral-default-50: #747878;
$palettes-neutral-default-60: #8E9192;
$palettes-neutral-default-70: #A9ACAC;
$palettes-neutral-default-80: #C4C7C7;
$palettes-neutral-default-87: #D8DADA;
$palettes-neutral-default-90: #E1E3E3;
$palettes-neutral-default-92: #E6E9E8;
$palettes-neutral-default-94: #ECEEEE;
$palettes-neutral-default-95: #EFF1F1;
$palettes-neutral-default-96: #F2F4F4;
$palettes-neutral-default-98: #F7FAF9;
$palettes-neutral-default-99: #FCFCFC;
$palettes-neutral-variant-10: #141D1F;
$palettes-neutral-variant-20: #293234;
$palettes-neutral-variant-30: #3F484A;
$palettes-neutral-variant-40: #576062;
$palettes-neutral-variant-50: #71797A;
$palettes-neutral-variant-60: #899294;
$palettes-neutral-variant-70: #A3ADAF;
$palettes-neutral-variant-80: #BFC8CA;
$palettes-neutral-variant-90: #DBE4E6;
$palettes-neutral-variant-95: #E9F2F5;
$palettes-neutral-variant-99: #FCFCFC;

// UI colors. -dark suffix refers to dark mode. 
$color-primary-low-light: $palettes-primary-red-90;
$color-primary-low-dark: $palettes-primary-red-90;
$color-primary-default-light: $palettes-primary-red-40;
$color-primary-default-dark: $palettes-primary-red-40;
$color-primary-high-light: $palettes-primary-red-30;
$color-primary-high-dark: $palettes-primary-red-30;
$color-primary-higher-light: $palettes-primary-red-10;
$color-primary-higher-dark: $palettes-primary-red-10;

$color-secondary-low-light: $palettes-accent-blue-90;
$color-secondary-low-dark: $palettes-accent-blue-90;
$color-secondary-default-light: $palettes-accent-blue-40;
$color-secondary-default-dark: $palettes-accent-blue-40;
$color-secondary-high-light: $palettes-accent-blue-30;
$color-secondary-high-dark:  $palettes-accent-blue-30;
$color-secondary-higher-light:$palettes-accent-blue-10;
$color-secondary-higher-dark: $palettes-accent-blue-10;

$color-info-low-light: $palettes-accent-purple-20;
$color-info-low-dark: $palettes-accent-purple-20;
$color-info-default-light: $palettes-accent-purple-60;
$color-info-default-dark: $palettes-accent-purple-60;
$color-info-high-light: $palettes-accent-purple-70;
$color-info-high-dark: $palettes-accent-purple-70;
$color-info-higher-light: $palettes-accent-purple-80;
$color-info-higher-dark: $palettes-accent-purple-80;

$color-validation-low-light: $palettes-accent-green-90;
$color-validation-low-dark: $palettes-accent-green-90;
$color-validation-default-light: $palettes-accent-green-30;
$color-validation-default-dark: $palettes-accent-green-30;
$color-validation-high-light: $palettes-accent-green-20;
$color-validation-high-dark: $palettes-accent-green-20;
$color-validation-higher-light: $palettes-accent-green-10;
$color-validation-higher-dark: $palettes-accent-green-10;

$color-warning-low-light: $palettes-accent-yellow-90;
$color-warning-low-dark: $palettes-accent-yellow-90;
$color-warning-default-light: $palettes-accent-yellow-40;
$color-warning-default-dark: $palettes-accent-yellow-40;
$color-warning-high-light: $palettes-accent-yellow-30;
$color-warning-high-dark: $palettes-accent-yellow-30;
$color-warning-higher-light: $palettes-accent-yellow-10;
$color-warning-higher-dark: $palettes-accent-yellow-10;

$color-error-low-light: $palettes-accent-orange-90;
$color-error-low-dark: $palettes-accent-orange-90;
$color-error-default-light: $palettes-accent-orange-40;
$color-error-default-dark: $palettes-accent-orange-40;
$color-error-high-light: $palettes-accent-orange-30;
$color-error-high-dark: $palettes-accent-orange-30;
$color-error-higher-light: $palettes-accent-orange-10;
$color-error-higher-dark: $palettes-accent-orange-10;

$color-surface-lowest-light: $palettes-neutral-default-98;
$color-surface-lowest-dark: $palettes-neutral-default-6;
$color-surface-low-light: $seed-white;
$color-surface-low-dark: $palettes-neutral-default-4;
$color-surface-high-light: $palettes-neutral-default-96;
$color-surface-high-dark: $palettes-neutral-default-10;
$color-surface-higher-light: $palettes-neutral-variant-95;
$color-surface-higher-dark: $palettes-neutral-variant-20;
$color-surface-highest-light: $palettes-neutral-default-90;
$color-surface-highest-dark: $palettes-neutral-default-16;
$color-surface-inverse-light: $palettes-neutral-default-20;
$color-surface-inverse-dark: $palettes-neutral-default-90;
$color-surface-inverseVariant-light: $palettes-neutral-variant-50;
$color-surface-inverseVariant-dark: $palettes-neutral-variant-60;

$color-text-bright-light: $seed-white;
$color-text-bright-dark: $seed-white;
$color-text-primary-light: $palettes-neutral-default-10;
$color-text-primary-dark: $palettes-neutral-default-90;
$color-text-secondary-light: $palettes-neutral-variant-40;
$color-text-secondary-dark: $palettes-neutral-variant-80;
$color-text-disabled-light: $palettes-neutral-variant-80;
$color-text-disabled-dark: $palettes-neutral-variant-30;
$color-text-primary-inverse-light: $palettes-neutral-default-90;
$color-text-primary-inverse-dark: $palettes-neutral-default-10;
$color-text-secondary-inverse-light: $palettes-neutral-default-95;
$color-text-secondary-inverse-dark: $palettes-neutral-default-20;

$color-outline-high-light: $palettes-neutral-variant-50;
$color-outline-high-dark: $palettes-neutral-variant-60;
$color-outline-default-light: $palettes-neutral-variant-80;
$color-outline-default-dark: $palettes-neutral-variant-30;
$color-outline-low-light: $palettes-neutral-default-94;
$color-outline-low-dark: $palettes-neutral-variant-20;

$color-scrim-light: $seed-black;
$color-scrim-dark: $seed-black;
$color-shadow-light: $seed-black;
$color-shadow-dark: $seed-black;
$color-icons-blue-light:$palettes-accent-blue-50;
$color-icons-blue-dark: $palettes-accent-blue-50;
$color-icons-green-light: $palettes-accent-blue-40;
$color-icons-green-dark: $palettes-accent-blue-40;
$color-icons-red-light: $palettes-primary-red-40;
$color-icons-red-dark: $palettes-primary-red-40;

//scale


$scale-xx-small: 0.25rem;
$scale-x-small: 0.5rem;
$scale-small: 0.75rem;
$scale-medium: 1rem;
$scale-large: 1.5rem;
$scale-x-large: 2rem;
$scale-xx-large: 2.5rem;
$scale-xxx-large: 3rem;

//spacing
$spacing-xx-small: $scale-xx-small;
$spacing-x-small:$scale-x-small;
$spacing-small: $scale-small;
$spacing-medium: $scale-medium;
$spacing-large: $scale-large;
$spacing-x-large: $scale-x-large;
$spacing-xx-large: $scale-xx-large;

// Sizes
$size-x-small:$scale-x-small;
$size-small: $scale-small;
$size-medium: $scale-medium;
$size-large: $scale-large;
$size-x-large: $scale-x-large;
$size-xx-large: $scale-xx-large;
// Border radious

$radius-tiny:$scale-xx-small;
$radius-small: $scale-x-small;
$radius-medium: $scale-medium;
$radius-large: $scale-large;

//system variables
$primaryColor: $color-primary-default-light!default;
$primaryLightColor: $color-primary-low-light!default;
$primaryDarkColor: $color-primary-high-light!default;
$primaryDarkerColor: $color-primary-higher-light!default;
$primaryTextColor: $color-text-bright-light !default;
$highlightBg: $color-surface-high-light !default;
$highlightTextColor: $color-text-primary-light !default;
/*$fontSizeButton: 1.125rem;*/
$tableHeaderCellHighlightBg: $color-surface-high-light !default;

//global
$fontFamily:'Ubuntu', sans-serif !default;
$fontSize:1rem !default;
$fontWeight:normal !default;
$textColor:$color-text-primary-light !default;
$textSecondaryColor:$color-text-secondary-light !default;
$borderRadius:$radius-small!default;
$borderRadiusInput:$radius-tiny;
$transitionDuration:.2s !default;
$formElementTransition:background-color $transitionDuration, color $transitionDuration, border-color $transitionDuration, box-shadow $transitionDuration !default;
$actionIconTransition:background-color $transitionDuration, color $transitionDuration, box-shadow $transitionDuration !default;
$listItemTransition:box-shadow $transitionDuration !default;
$primeIconFontSize:$size-medium!default;
$divider:1px solid $color-outline-low-light !default;
$inlineSpacing:.5rem !default;
$disabledOpacity:.6 !default;
$maskBg:rgba(0, 0, 0, 0.4) !default;
$loadingIconFontSize:$size-x-large !default;


//scale
$scaleSM:0.875 !default;
$scaleLG:1.25 !default;

//focus
$focusOutlineColor:$color-outline-high-light !default;
$focusOutline:0 none !default;
$focusOutlineOffset:0 !default;
$focusShadow:0 0 0 1px $focusOutlineColor !default;

//action icons
$actionIconWidth:$size-large !default;
$actionIconHeight:$size-large!default;
$actionIconBg:transparent !default;
$actionIconBorder:0 none !default;
$actionIconColor:$color-text-primary-light!default;
$actionIconHoverBg:$color-surface-high-light!default;
$actionIconHoverBorderColor:transparent !default;
$actionIconHoverColor:$color-text-primary-light!default;
$actionIconBorderRadius:50% !default;

//input field (e.g. inputtext, spinner, inputmask)
$inputPadding:$spacing-small $spacing-medium  !default;
$inputTextFontSize:$fontSize !default;

$inputBg:$color-surface-low-light !default;
$inputTextColor:$color-text-primary-light !default;
$inputIconColor:$color-text-primary-light!default;
$inputBorder:1px solid $color-outline-default-light!default;
$inputHoverBorderColor:$color-outline-high-light!default;
$inputFocusBorderColor:$color-outline-high-light !default;
$inputErrorBorderColor:$color-error-default-light !default;
$inputPlaceholderTextColor:$color-text-secondary-light !default;
$inputFilledBg:$color-surface-high-light !default;
$inputFilledHoverBg:$inputFilledBg !default;
$inputFilledFocusBg:$color-surface-high-light!default;

//input groups
$inputGroupBg:none !default;
$inputGroupTextColor:$color-primary-default-light !default;
$inputGroupAddOnMinWidth: 3rem !default;

//input lists (e.g. dropdown, autocomplete, multiselect, orderlist)
$inputListBg:$color-surface-low-light !default;
$inputListTextColor:$color-text-primary-light
 !default;
$inputListBorder:$inputBorder !default;
$inputListPadding:.75rem 0 !default;
$inputListItemPadding:.75rem 1.25rem !default;
$inputListItemBg:transparent !default;
$inputListItemTextColor:$color-text-primary-light !default;
$inputListItemHoverBg:$color-surface-high-light  !default;
$inputListItemTextHoverColor:$color-text-primary-light !default;
$inputListItemBorder:0 none !default;
$inputListItemBorderRadius:0 !default;
$inputListItemMargin:0 !default;
$inputListItemFocusShadow:inset 0 0 0 0.15rem $focusOutlineColor !default;
$inputListHeaderPadding:.75rem 1.25rem !default;
$inputListHeaderMargin:0 !default;
$inputListHeaderBg:$color-surface-low-light !default;
$inputListHeaderTextColor:$color-text-primary-light
 !default;
$inputListHeaderBorder:1px solid $color-outline-default-light !default;

//inputs with overlays (e.g. autocomplete, dropdown, multiselect)
$inputOverlayBg:$inputListBg !default;
$inputOverlayHeaderBg:$inputListHeaderBg !default;
$inputOverlayBorder:0 none !default;
$inputOverlayShadow:0 2px 12px 0 rgba(0,0,0,.1) !default;

//password
$passwordMeterBg:$color-surface-high-light !default;
$passwordWeakBg:$color-error-default-light !default;
$passwordMediumBg:$color-warning-low-light!default;
$passwordStrongBg:$color-validation-default-light !default;

//button
$buttonPadding:$spacing-small $spacing-large !default;
$buttonIconOnlyWidth:3rem !default;
$buttonIconOnlyPadding:.75rem 0 !default;
$buttonBg:$primaryColor !default;
$buttonTextColor:$primaryTextColor !default;
$buttonBorder:1px solid $primaryColor !default;
$buttonHoverBg:$primaryDarkColor !default;
$buttonTextHoverColor:$primaryTextColor !default;
$buttonHoverBorderColor:$primaryDarkColor !default;
$buttonActiveBg:$primaryDarkColor !default;
$buttonTextActiveColor:$primaryTextColor !default;
$buttonActiveBorderColor:$primaryDarkColor !default;
$raisedButtonShadow:0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12) !default;
$roundedButtonBorderRadius:2rem !default;
$borderRadiusButton: $radius-tiny !default;

$textButtonHoverBgOpacity:.04 !default;
$textButtonActiveBgOpacity:.16 !default;
$outlinedButtonBorder:1px solid !default;
$plainButtonTextColor:$textSecondaryColor !default;
$plainButtonHoverBgColor:$color-surface-high-light !default;
$plainButtonActiveBgColor:$color-surface-higher-light !default;

$secondaryButtonBg: $color-secondary-default-light !default;
$secondaryButtonTextColor:$primaryTextColor !default;
$secondaryButtonBorder:1px solid $secondaryButtonBg !default;
$secondaryButtonHoverBg:$color-secondary-high-light !default;
$secondaryButtonTextHoverColor:$primaryTextColor!default;
$secondaryButtonHoverBorderColor:$color-secondary-high-light!default;
$secondaryButtonActiveBg:scale-color($secondaryButtonBg, $lightness: -20%) !default;
$secondaryButtonTextActiveColor:$secondaryButtonTextColor !default;
$secondaryButtonActiveBorderColor:scale-color($secondaryButtonBg, $lightness: -20%) !default;
$secondaryButtonFocusShadow:0 0 0 0.2rem scale-color($secondaryButtonBg, $lightness: 60%) !default;

$infoButtonBg:$color-info-default-light!default;
$infoButtonTextColor:$primaryTextColor  !default;
$infoButtonBorder:1px solid $infoButtonBg !default;
$infoButtonHoverBg:scale-color($infoButtonBg, $lightness: -10%) !default;
$infoButtonTextHoverColor:$infoButtonTextColor !default;
$infoButtonHoverBorderColor:scale-color($infoButtonBg, $lightness: -10%) !default;
$infoButtonActiveBg:scale-color($infoButtonBg, $lightness: -20%) !default;
$infoButtonTextActiveColor:$infoButtonTextColor !default;
$infoButtonActiveBorderColor:scale-color($infoButtonBg, $lightness: -20%) !default;
$infoButtonFocusShadow:0 0 0 0.2rem scale-color($infoButtonBg, $lightness: 60%) !default;

$successButtonBg:$color-validation-default-light !default;
$successButtonTextColor:$primaryTextColor  !default;
$successButtonBorder:1px solid $successButtonBg !default;
$successButtonHoverBg:scale-color($successButtonBg, $lightness: -10%) !default;
$successButtonTextHoverColor:$successButtonTextColor !default;
$successButtonHoverBorderColor:scale-color($successButtonBg, $lightness: -10%) !default;
$successButtonActiveBg:scale-color($successButtonBg, $lightness: -20%) !default;
$successButtonTextActiveColor:$successButtonTextColor !default;
$successButtonActiveBorderColor:scale-color($successButtonBg, $lightness: -20%) !default;
$successButtonFocusShadow:0 0 0 0.2rem scale-color($successButtonBg, $lightness: 60%) !default;

$warningButtonBg:$color-warning-default-light !default;
$warningButtonTextColor:$primaryTextColor  !default;
$warningButtonBorder:1px solid $warningButtonBg !default;
$warningButtonHoverBg:scale-color($warningButtonBg, $lightness: -10%) !default;
$warningButtonTextHoverColor:$warningButtonTextColor !default;
$warningButtonHoverBorderColor:scale-color($warningButtonBg, $lightness: -10%) !default;
$warningButtonActiveBg:scale-color($warningButtonBg, $lightness: -20%) !default;
$warningButtonTextActiveColor:$warningButtonTextColor !default;
$warningButtonActiveBorderColor:scale-color($warningButtonBg, $lightness: -20%) !default;
$warningButtonFocusShadow:0 0 0 0.2rem scale-color($warningButtonBg, $lightness: 60%) !default;

$helpButtonBg:$color-info-default-light !default;
$helpButtonTextColor:$primaryTextColor !default;
$helpButtonBorder:1px solid $helpButtonBg !default;
$helpButtonHoverBg:scale-color($helpButtonBg, $lightness: -10%) !default;
$helpButtonTextHoverColor:$helpButtonTextColor !default;
$helpButtonHoverBorderColor:scale-color($helpButtonBg, $lightness: -10%) !default;
$helpButtonActiveBg:scale-color($helpButtonBg, $lightness: -20%) !default;
$helpButtonTextActiveColor:$helpButtonTextColor !default;
$helpButtonActiveBorderColor:scale-color($helpButtonBg, $lightness: -20%) !default;
$helpButtonFocusShadow:0 0 0 0.2rem scale-color($helpButtonBg, $lightness: 60%) !default;

$dangerButtonBg:$color-error-default-light!default;
$dangerButtonTextColor:$primaryTextColor  !default;
$dangerButtonBorder:1px solid $dangerButtonBg !default;
$dangerButtonHoverBg:scale-color($dangerButtonBg, $lightness: -10%) !default;
$dangerButtonTextHoverColor:$dangerButtonTextColor !default;
$dangerButtonHoverBorderColor:scale-color($dangerButtonBg, $lightness: -10%) !default;
$dangerButtonActiveBg:scale-color($dangerButtonBg, $lightness: -20%) !default;
$dangerButtonTextActiveColor:$dangerButtonTextColor !default;
$dangerButtonActiveBorderColor:scale-color($dangerButtonBg, $lightness: -20%) !default;
$dangerButtonFocusShadow:0 0 0 0.2rem scale-color($dangerButtonBg, $lightness: 60%) !default;

$linkButtonColor:$color-primary-high-light !default;
$linkButtonHoverColor:$color-primary-high-light!default;
$linkButtonTextHoverDecoration:underline !default;
$linkButtonFocusShadow:0 0 0 0.2rem $focusOutlineColor !default;

//checkbox
$checkboxWidth:$size-large!default;
$checkboxHeight:$size-large !default;
$checkboxBorder:2px solid $color-outline-default-light !default;
$checkboxIconFontSize:14px !default;
$checkboxActiveBorderColor:$primaryColor !default;
$checkboxActiveBg:$primaryColor !default;
$checkboxIconActiveColor:$primaryTextColor !default;
$checkboxActiveHoverBg:$color-primary-high-light !default;
$checkboxIconActiveHoverColor:$primaryTextColor !default;
$checkboxActiveHoverBorderColor:$color-primary-high-light!default;

//radiobutton
$radiobuttonWidth:$size-large !default;
$radiobuttonHeight:$size-large !default;
$radiobuttonBorder:2px solid $color-outline-default-light !default;
$radiobuttonIconSize:12px !default;
$radiobuttonActiveBorderColor:$primaryColor !default;
$radiobuttonActiveBg:$primaryColor !default;
$radiobuttonIconActiveColor:$primaryTextColor !default;
$radiobuttonActiveHoverBg:$primaryDarkerColor !default;
$radiobuttonIconActiveHoverColor:$primaryTextColor !default;
$radiobuttonActiveHoverBorderColor:$primaryDarkerColor !default;

//colorpicker
$colorPickerPreviewWidth:2rem !default;
$colorPickerPreviewHeight:2rem !default;
$colorPickerBg:$color-surface-inverse-light!default;
$colorPickerBorder:none!default;
$colorPickerHandleColor:$color-surface-low-light!default;

//togglebutton
$toggleButtonBg:$color-surface-low-light !default;
$toggleButtonBorder:1px solid $color-outline-default-light !default;
$toggleButtonTextColor:$color-text-primary-light
 !default;
$toggleButtonIconColor:$color-text-primary-light
!default;
$toggleButtonHoverBg:$color-surface-low-light !default;
$toggleButtonHoverBorderColor:$color-primary-default-light !default;
$toggleButtonTextHoverColor:$color-primary-default-light !default;
$toggleButtonIconHoverColor:$color-text-primary-light !default;
$toggleButtonActiveBg:$color-surface-low-light !default;
$toggleButtonActiveBorderColor:$color-primary-default-light !default;
$toggleButtonTextActiveColor:$color-primary-default-light  !default;
$toggleButtonIconActiveColor:$color-primary-default-light  !default;
$toggleButtonActiveHoverBg:$color-surface-low-light !default;
$toggleButtonActiveHoverBorderColor:$color-primary-default-light !default;
$toggleButtonTextActiveHoverColor:$color-primary-default-light !default;
$toggleButtonIconActiveHoverColor:$color-primary-default-light!default;
$toggleButtonBorderRadius: $radius-small;

//inplace
$inplacePadding:$inputPadding !default;
$inplaceHoverBg:$color-surface-high-light !default;
$inplaceTextHoverColor:$color-text-primary-light
 !default;

//rating
$ratingIconFontSize:1.143rem !default;
$ratingCancelIconColor:#ea5455 !default;
$ratingCancelIconHoverColor:#e73d3e !default;
$ratingStarIconOffColor:$color-surface-inverse-light!default;
$ratingStarIconOnColor:$primaryColor !default;
$ratingStarIconHoverColor:$primaryColor !default;

//slider
$sliderBg:$color-surface-higher-light !default;
$sliderBorder:0 none !default;
$sliderHorizontalHeight:.286rem !default;
$sliderVerticalWidth:0.286rem !default;
$sliderHandleWidth:1.143rem !default;
$sliderHandleHeight:1.143rem !default;
$sliderHandleBg:$primaryColor !default;
$sliderHandleBorder:2px solid $primaryColor !default;
$sliderHandleBorderRadius:50% !default;
$sliderHandleHoverBorderColor:$primaryColor !default;
$sliderHandleHoverBg:$primaryColor !default;
$sliderRangeBg:$primaryColor !default;

//calendar
$calendarTableMargin:.5rem 0 !default;
$calendarPadding:.5rem !default;
$calendarBg:$color-surface-low-light!default;
$calendarInlineBg:$calendarBg !default;
$calendarTextColor:$color-text-primary-light !default;
$calendarBorder:0 none !default;
$calendarOverlayBorder:$inputOverlayBorder !default;
$calendarHeaderTextColor: $color-text-primary-light !default;
$calendarHeaderPadding:.5rem !default;
$calendarHeaderBg:transparent !default;
$calendarInlineHeaderBg:$calendarBg !default;
$calendarHeaderBorder:$color-outline-low-light !default;
$calendarHeaderTextColor:$color-text-primary-light !default;
$calendarHeaderFontWeight:400 !default;
$calendarHeaderCellPadding:.5rem !default;
$calendarMonthYearHeaderHoverTextColor:$color-primary-default-light !default;

$calendarCellDatePadding:.5rem !default;
$calendarCellDateWidth:2.5rem !default;
$calendarCellDateHeight:2.5rem !default;
$calendarCellDateBorderRadius:0rem !default;
$calendarCellDateBorder:1px solid transparent !default;
$calendarCellDateHoverBg:$color-primary-default-light!default;
$calendarCellDateHoverTextColor:$color-text-bright-light!default;
$calendarCellDateTodayBg:$color-surface-low-light !default;
$calendarCellDateTodayBorderColor:transparent !default;
$calendarCellDateTodayTextColor:$color-text-primary-light!default;

$calendarButtonBarPadding:1rem 0 !default;
$calendarTimePickerPadding:.5rem !default;
$calendarTimePickerElementPadding:0 .5rem !default;
$calendarTimePickerTimeFontSize:1.25rem !default;

$calendarBreakpoint:769px !default;
$calendarCellDatePaddingSM:0 !default;

//input switch
$inputSwitchWidth:3rem !default;
$inputSwitchHeight:1.75rem !default;
$inputSwitchBorderRadius:30px !default;
$inputSwitchHandleWidth:1.250rem !default;
$inputSwitchHandleHeight:1.250rem !default;
$inputSwitchHandleBorderRadius:50% !default;
$inputSwitchSliderPadding:.25rem !default;
$inputSwitchSliderOffBg:$color-surface-highest-light !default;
$inputSwitchHandleOffBg:$color-surface-low-light !default;
$inputSwitchSliderOffHoverBg:scale-color($color-surface-inverse-light, $lightness: -10%) !default;
$inputSwitchSliderOnBg:$primaryColor !default;
$inputSwitchSliderOnHoverBg:$primaryDarkColor !default;
$inputSwitchHandleOnBg:$primaryTextColor !default;

//panel
$panelHeaderBorderColor:$color-outline-low-light !default;
$panelHeaderBorder:1px solid $color-outline-low-light !default;
$panelHeaderBg:$color-surface-high-light !default;
$panelHeaderTextColor:$color-text-primary-light !default;
$panelHeaderFontWeight:500 !default;
$panelHeaderPadding:1.25rem !default;
$panelToggleableHeaderPadding:.75rem 1.25rem !default;

$panelHeaderHoverBg:$color-surface-high-light !default;
$panelHeaderHoverBorderColor:$color-outline-default-light !default;
$panelHeaderTextHoverColor:$color-text-primary-light
 !default;

$panelContentBorderColor: $color-outline-low-light !default;
$panelContentBorder:1px solid $color-outline-low-light !default;
$panelContentBg:$color-surface-low-light!default;
$panelContentEvenRowBg:scale-color($panelContentBg, $lightness: -1%) !default;
$panelContentTextColor:$color-text-primary-light
 !default;
$panelContentPadding:1.25rem !default;

$panelFooterBorder:1px solid $color-outline-low-light !default;
$panelFooterBg:$color-surface-low-light !default;
$panelFooterTextColor:$color-text-secondary-light!default;
$panelFooterPadding:0.75rem 1.25rem !default;

//accordion
$accordionSpacing:4px !default;
$accordionHeaderBorder:none !default;
$accordionHeaderBg:$color-surface-low-light !default;
$accordionHeaderTextColor:$panelHeaderTextColor !default;
$accordionHeaderFontWeight:$panelHeaderFontWeight !default;
$accordionHeaderPadding:$panelHeaderPadding !default;

$accordionHeaderHoverBg:$color-surface-high-light !default;
$accordionHeaderHoverBorderColor:$primaryColor !default;
$accordionHeaderTextHoverColor:$color-primary-default-light!default;

$accordionHeaderActiveBg:none!default;
$accordionHeaderActiveBorderColor:none !default;
$accordionHeaderTextActiveColor:$primaryColor !default;

$accordionHeaderActiveHoverBg:$color-surface-high-light  !default;
$accordionHeaderActiveHoverBorderColor:none !default;
$accordionHeaderTextActiveHoverColor:$color-primary-default-light !default;

$accordionContentBorder:$color-outline-low-light !default;
$accordionContentBg:$panelContentBg !default;
$accordionContentTextColor:$panelContentTextColor !default;
$accordionContentPadding:$panelContentPadding !default;

//tabview
$tabviewNavBorder:1px solid $color-outline-low-light !default;
$tabviewNavBorderWidth:0 0 2px 0 !default;
$tabviewNavBg:$color-surface-low-light !default;

$tabviewHeaderSpacing:0 !default;
$tabviewHeaderBorder:solid $color-outline-low-light !default;
$tabviewHeaderBorderWidth:0 0 2px 0 !default;
$tabviewHeaderBorderColor:transparent transparent $color-outline-low-light transparent !default;
$tabviewHeaderBg:$color-surface-low-light !default;
$tabviewHeaderTextColor:$color-text-primary-light
 !default;
$tabviewHeaderFontWeight:$panelHeaderFontWeight !default;
$tabviewHeaderPadding:$panelHeaderPadding !default;
$tabviewHeaderMargin:0!default;

$tabviewHeaderHoverBg:$color-surface-high-light !default;
$tabviewHeaderHoverBorderColor:$color-outline-default-light !default;
$tabviewHeaderTextHoverColor:$color-primary-default-light
 !default;

$tabviewHeaderActiveBg:$color-surface-low-light !default;
$tabviewHeaderActiveBorderColor: $primaryColor !default;
$tabviewHeaderTextActiveColor:$primaryColor !default;

$tabviewContentBorder:0 none !default;
$tabviewContentBg:$panelContentBg !default;
$tabviewContentTextColor:$panelContentTextColor !default;
$tabviewContentPadding:$panelContentPadding !default;

//upload
$fileUploadProgressBarHeight:$size-x-small !default;
$fileUploadContentPadding:2rem 1rem !default;

//scrollpanel
$scrollPanelTrackBorder:0 none !default;
$scrollPanelTrackBg:$color-surface-higher-light !default;

//card
$cardBodyPadding:1.25rem !default;
$cardTitleFontSize:1.5rem !default;
$cardTitleFontWeight:700 !default;
$cardSubTitleFontWeight:400 !default;
$cardSubTitleColor:$color-text-secondary-light!default;
$cardContentPadding:1.25rem 0 !default;
$cardFooterPadding:1.25rem 0 0 0 !default;
$cardShadow:0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12) !default;

//editor
$editorToolbarBg:$panelHeaderBg !default;
$editorToolbarBorder:$panelHeaderBorder !default;
$editorToolbarPadding:$panelHeaderPadding !default;
$editorToolbarIconColor:$textSecondaryColor !default;
$editorToolbarIconHoverColor:$textColor !default;
$editorIconActiveColor:$primaryColor !default;
$editorContentBorder:$panelContentBorder !default;
$editorContentBg:$panelContentBg !default;

//paginator
$paginatorBg:$color-surface-low-light !default;
$paginatorTextColor:$textColor !default;
$paginatorBorder:solid $color-outline-low-light !default;
$paginatorBorderWidth:0 !default;
$paginatorPadding:.5rem 1rem !default;
$paginatorElementWidth:$buttonIconOnlyWidth !default;
$paginatorElementHeight:$buttonIconOnlyWidth !default;
$paginatorElementBg:transparent !default;
$paginatorElementBorder:1 solid  !default;
$paginatorElementIconColor:$textColor !default;
$paginatorElementHoverBg:$color-surface-high-light !default;
$paginatorElementHoverBorderColor:transparent !default;
$paginatorElementIconHoverColor:$textColor !default;
$paginatorElementBorderRadius:$radius-small !default;
$paginatorElementMargin:.143rem !default;
$paginatorElementPadding:0 !default;

//table
$tableHeaderBorder:0 0 1px 0 solid $color-outline-low-light !default;
$tableHeaderBorderWidth:0 0 1px 0 !default;
$tableHeaderBg:$color-surface-low-light !default;
$tableHeaderTextColor:$textSecondaryColor !default;
$tableHeaderFontWeight:400 !default;
$tableHeaderPadding:1rem 1rem !default;

$tableHeaderCellPadding:0rem 0rem !default;
$tableHeaderCellBg:$color-surface-low-light !default;
$tableHeaderCellTextColor:$color-text-secondary-light!default;
$tableHeaderCellFontWeight:500 !default;
$tableHeaderCellBorder:0 0 1px 0 solid $color-outline-low-light !default;
$tableHeaderCellBorderWidth:1px !default;
$tableHeaderCellHoverBg:$color-surface-higher-light !default;
$tableHeaderCellTextHoverColor:$color-text-primary-light
 !default;
$tableHeaderCellIconColor:$color-text-secondary-light!default;
$tableHeaderCellIconHoverColor:$color-primary-higher-light !default;
$tableHeaderCellhighlightBg:$color-primary-higher-light !default;
$tableHeaderCellHighlightTextColor:$color-text-primary-light!default;
$tableHeaderCellHighlightHoverBg:$color-surface-high-light !default;
$tableHeaderCellHighlightTextHoverColor:$color-text-primary-light!default;
$tableSortableColumnBadgeSize:1.143rem !default;

$tableBodyRowBg:$color-surface-low-light !default;
$tableBodyRowTextColor:$color-text-primary-light
 !default;
$tableBodyRowEvenBg:scale-color($tableBodyRowBg, $lightness: -1%) !default;
$tableBodyRowHoverBg:$color-surface-higher-light !default;
$tableBodyRowTextHoverColor:$color-text-primary-light
 !default;
$tableBodyCellBorder:0 0 1px 0 solid $color-outline-low-light !default;
$tableBodyCellBorderWidth:0 0 1px 0 !default;
$tableBodyCellPadding:1.5rem 1rem !default;

$tableFooterCellPadding:1rem 1rem !default;
$tableFooterCellBg:$color-surface-low-light !default;
$tableFooterCellTextColor:$color-text-primary-light
 !default;
$tableFooterCellFontWeight:700 !default;
$tableFooterCellBorder:1px solid $color-outline-low-light !default;
$tableFooterCellBorderWidth:0 0 1px 0 !default;
$tableResizerHelperBg:$primaryColor !default;

$tableFooterBorder:1px solid $color-outline-low-light !default;
$tableFooterBorderWidth:0 0 1px 0 !default;
$tableFooterBg:$color-surface-low-light !default;
$tableFooterTextColor:$color-text-primary-light
 !default;
$tableFooterFontWeight:700 !default;
$tableFooterPadding:1rem 1rem !default;

$tableCellContentAlignment:left !default;
$tableTopPaginatorBorderWidth:0 0 1px 0 !default;
$tableBottomPaginatorBorderWidth:0 0 1px 0 !default;

$tableScaleSM:0.5 !default;
$tableScaleLG:1.25 !default;

//dataview
$dataViewContentPadding:0 !default;
$dataViewContentBorder:0 none !default;
$dataViewListItemBorder:solid $color-outline-low-light !default;
$dataViewListItemBorderWidth:0 0 1px 0 !default;

//schedule
$fullCalendarEventBg:$primaryDarkColor !default;
$fullCalendarEventBorderColor: $primaryDarkColor !default;
$fullCalendarEventBorder:1px solid $primaryDarkColor !default;
$fullCalendarEventTextColor:$primaryTextColor !default;

//tree
$treeContainerPadding:0.286rem !default;
$treeNodePadding:0.143rem !default;
$treeNodeContentPadding:.5rem !default;
$treeNodeChildrenPadding:0 0 0 1rem !default;
$treeNodeIconColor:$color-text-primary-light
 !default;

//timeline
$timelineVerticalEventContentPadding:0 1rem !default;
$timelineHorizontalEventContentPadding:1rem 0 !default;
$timelineEventMarkerWidth:1rem !default;
$timelineEventMarkerHeight:1rem !default;
$timelineEventMarkerBorderRadius:50% !default;
$timelineEventMarkerBorder:2px solid $primaryColor !default;
$timelineEventMarkerBackground:$primaryTextColor !default;
$timelineEventConnectorSize:2px !default;
$timelineEventColor:$primaryColor !default;

//org chart
$organizationChartConnectorColor:$color-outline-low-light !default;

//message
$messageMargin:1rem 0 !default;
$messagePadding:1.5rem !default;
$messageBorderWidth: 1px !default;
$messageIconFontSize:1.5rem !default;
$messageTextFontSize:1rem !default;
$messageTextFontWeight:400 !default;

//inline message
$inlineMessagePadding:$inputPadding !default;
$inlineMessageMargin:0 !default;
$inlineMessageIconFontSize:1rem !default;
$inlineMessageTextFontSize:1rem !default;
$inlineMessageBorderWidth:1px !default;

//toast
$toastIconFontSize:$size-large !default;
$toastMessageTextMargin:0 0 0 1rem !default;
$toastMargin:0 0 1rem 0 !default;
$toastPadding:1rem !default;
$toastBorderWidth:0 0 0 1px !default;
$toastShadow:0 2px 12px 0 rgba(0,0,0,.1) !default;
$toastOpacity:.9 !default;
$toastTitleFontWeight:700 !default;
$toastDetailMargin:$inlineSpacing 0 0 0 !default;

//severities
$infoMessageBg:$color-info-low-light !default;
$infoMessageBorder:solid $color-info-default-light!default;
$infoMessageTextColor:$color-info-higher-light!default;
$infoMessageIconColor:$color-info-higher-light!default;
$successMessageBg:$color-validation-low-light !default;
$successMessageBorder:solid $color-validation-default-light!default;
$successMessageTextColor:$color-validation-higher-light!default;
$successMessageIconColor:$color-validation-higher-light!default;
$warningMessageBg:$color-warning-low-light !default;
$warningMessageBorder:solid $color-warning-default-light !default;
$warningMessageTextColor:$color-warning-higher-light!default;
$warningMessageIconColor:$color-warning-higher-light !default;
$errorMessageBg:$color-error-low-light !default;
$errorMessageBorder:solid $color-error-default-light  !default;
$errorMessageTextColor: $color-error-higher-light !default;
$errorMessageIconColor: $color-error-higher-light !default;

//overlays
$overlayContentBorder:0 none !default;
$overlayContentBg:$panelContentBg !default;
$overlayContainerShadow:0 1px 3px rgba(0,0,0,.3) !default;

//dialog
$dialogHeaderBg:$color-surface-low-light !default;
$dialogHeaderBorder:0 none !default;
$dialogHeaderTextColor:$color-text-secondary-light!default;
$dialogHeaderFontWeight:700 !default;
$dialogHeaderFontSize:1.25rem !default;
$dialogHeaderPadding:1.5rem !default;
$dialogContentPadding:0 1.5rem 2rem 1.5rem !default;
$dialogFooterBorder:0 none !default;
$dialogFooterPadding:0 1.5rem 1.5rem 1.5rem !default;

//confirmpopup
$confirmPopupContentPadding:$panelContentPadding !default;
$confirmPopupFooterPadding:0 1.25rem 1.25rem 1.25rem !default;

//tooltip
$tooltipBg:$color-surface-inverse-light !default;
$tooltipTextColor:$color-text-primary-inverse-light!default;
$tooltipPadding:$inputPadding !default;

//steps
$stepsItemBg:$color-surface-low-light !default;
$stepsItemBorder:none !default;
$stepsItemTextColor:$color-text-primary-light
 !default;
$stepsItemNumberWidth:2rem !default;
$stepsItemNumberHeight:2rem !default;
$stepsItemNumberFontSize:1.143rem !default;
$stepsItemNumberColor:$color-text-primary-light
 !default;
$stepsItemNumberBorderRadius:none !default;
$stepsItemActiveFontWeight:700 !default;

//progressbar
$progressBarHeight:1.5rem !default;
$progressBarBorder:0 none !default;
$progressBarBg:$color-surface-highest-light !default;
$progressBarValueBg:$primaryColor !default;
$progressBarValueTextColor:$primaryTextColor !default;

//menu (e.g. menu, menubar, tieredmenu)
$menuWidth:12.5rem !default;
$menuBg:$color-surface-low-light !default;
$menuBorder:none!default;
$menuTextColor:$color-text-primary-light
 !default;
$menuitemPadding:.75rem 1.25rem !default;
$menuitemBorderRadius:0 !default;
$menuitemTextColor:$color-text-primary-light
 !default;
$menuitemIconColor:$color-text-primary-light
!default;
$menuitemTextHoverColor:$color-text-primary-light !default;
$menuitemIconHoverColor:$color-text-primary-light!default;
$menuitemHoverBg:$color-surface-high-light !default;
$menuitemTextActiveColor:white !default;
$menuitemIconActiveColor:white !default;
$menuitemActiveBg:$primaryColor!default;
$menuitemSubmenuIconFontSize:.875rem !default;
$submenuHeaderMargin:0 !default;
$submenuHeaderPadding:.75rem 1.25rem !default;
$submenuHeaderBg:$color-surface-low-light !default;
$submenuHeaderTextColor:$color-text-primary-light
!default;
$submenuHeaderBorderRadius:0 !default;
$submenuHeaderFontWeight:700 !default;
$overlayMenuBg:$color-surface-low-light !default;
$overlayMenuBorder:0 none !default;
$overlayMenuShadow:0 2px 12px 0 rgba(0,0,0,.1) !default;
$verticalMenuPadding:.25rem 0 !default;
$verticalMenuitemMargin:0 !default;
$menuSeparatorMargin:.25rem 0 !default;

$breadcrumbPadding:1rem !default;
$breadcrumbBg:$menuBg !default;
$breadcrumbBorder:$menuBorder !default;
$breadcrumbItemTextColor:$menuitemTextColor !default;
$breadcrumbItemIconColor:$menuitemIconColor !default;
$breadcrumbLastItemTextColor:$menuitemTextColor !default;
$breadcrumbLastItemIconColor:$menuitemIconColor !default;
$breadcrumbSeparatorColor:$menuitemTextColor !default;

$horizontalMenuPadding:.5rem !default;
$horizontalMenuBg:$color-surface-low-light !default;
$horizontalMenuBorder:$menuBorder !default;
$horizontalMenuTextColor:$menuTextColor !default;
$horizontalMenuRootMenuitemPadding:$menuitemPadding !default;
$horizontalMenuRootMenuitemBorderRadius:$borderRadius !default;
$horizontalMenuRootMenuitemTextColor:$menuitemTextColor !default;
$horizontalMenuRootMenuitemIconColor:$menuitemIconColor !default;
$horizontalMenuRootMenuitemTextHoverColor:$menuitemTextHoverColor !default;
$horizontalMenuRootMenuitemIconHoverColor:$menuitemIconHoverColor !default;
$horizontalMenuRootMenuitemHoverBg:$menuitemHoverBg !default;
$horizontalMenuRootMenuitemTextActiveColor:$menuitemTextActiveColor !default;
$horizontalMenuRootMenuitemIconActiveColor:$menuitemIconActiveColor !default;
$horizontalMenuRootMenuitemActiveBg:$menuitemActiveBg !default;

//badge and tag
$badgeBg:$primaryColor !default;
$badgeTextColor:$primaryTextColor !default;
$badgeMinWidth:1.5rem !default;
$badgeHeight:1.5rem !default;
$badgeFontWeight:700 !default;
$badgeFontSize:1rem !default;
$tagBorderRadius: $radius-small !default;
$tagPadding:.25rem .4rem !default;

//carousel
$carouselIndicatorsPadding:1rem !default;
$carouselIndicatorBg:$color-surface-inverse-light !default;
$carouselIndicatorHoverBg:$primaryColor !default;
$carouselIndicatorBorderRadius:0 !default;
$carouselIndicatorWidth:2rem !default;
$carouselIndicatorHeight:.5rem !default;

//galleria
$galleriaMaskBg:rgba(0,0,0,0.9) !default;
$galleriaCloseIconMargin:.5rem !default;
$galleriaCloseIconFontSize:2rem !default;
$galleriaCloseIconBg:transparent !default;
$galleriaCloseIconColor:$primaryColor !default;
$galleriaCloseIconHoverBg:rgba(255,255,255,0.1) !default;
$galleriaCloseIconHoverColor:$primaryDarkColor !default;
$galleriaCloseIconWidth:4rem !default;
$galleriaCloseIconHeight:4rem !default;
$galleriaCloseIconBorderRadius:50% !default;

$galleriaItemNavigatorBg:transparent !default;
$galleriaItemNavigatorColor:$primaryTextColor !default;
$galleriaItemNavigatorMargin:0 .5rem !default;
$galleriaItemNavigatorFontSize:2rem !default;
$galleriaItemNavigatorHoverBg:rgba(255,255,255,0.1) !default;
$galleriaItemNavigatorHoverColor:$primaryTextColor !default;
$galleriaItemNavigatorWidth:4rem !default;
$galleriaItemNavigatorHeight:4rem !default;
$galleriaItemNavigatorBorderRadius:$borderRadius !default;

$galleriaCaptionBg:rgba(0,0,0,.5) !default;
$galleriaCaptionTextColor:$primaryTextColor !default;
$galleriaCaptionPadding:1rem !default;

$galleriaIndicatorsPadding:1rem !default;
$galleriaIndicatorBg:$color-surface-inverse-light !default;
$galleriaIndicatorHoverBg:$seed-black !default;
$galleriaIndicatorBorderRadius:50% !default;
$galleriaIndicatorWidth:1rem !default;
$galleriaIndicatorHeight:1rem !default;
$galleriaIndicatorsBgOnItem:rgba(0,0,0,.5) !default;
$galleriaIndicatorBgOnItem:rgba(255,255,255,.4) !default;
$galleriaIndicatorHoverBgOnItem:rgba(255,255,255,.6) !default;

$galleriaThumbnailContainerBg:rgba(0,0,0,.9) !default;
$galleriaThumbnailContainerPadding:1rem .25rem !default;
$galleriaThumbnailNavigatorBg:transparent !default;
$galleriaThumbnailNavigatorColor:black !default;
$galleriaThumbnailNavigatorHoverBg:rgba(255,255,255,0.1) !default;
$galleriaThumbnailNavigatorHoverColor:black !default;
$galleriaThumbnailNavigatorBorderRadius:50% !default;
$galleriaThumbnailNavigatorWidth:2rem !default;
$galleriaThumbnailNavigatorHeight:2rem !default;

//divider
$dividerHorizontalMargin:1.25rem 0 !default;
$dividerHorizontalPadding:0 1.25rem !default;
$dividerVerticalMargin:0 1.25rem !default;
$dividerVerticalPadding:1.25rem 0 !default;
$dividerSize:1px !default;
$dividerColor:$color-outline-low-light !default;

//avatar
$avatarBg:$color-surface-high-light !default;
$avatarTextColor:$textColor !default;

//chip
$chipBg:$color-surface-high-light !default;
$chipTextColor:$textColor !default;
$chipBorderRadius: 1rem !default;

//scrollTop
$scrollTopBg:rgba(0,0,0,0.7) !default;
$scrollTopHoverBg:rgba(0,0,0,0.8) !default;
$scrollTopWidth:3rem !default;
$scrollTopHeight:3rem !default;
$scrollTopBorderRadius:50% !default;
$scrollTopFontSize:1.5rem !default;
$scrollTopTextColor:$color-surface-higher-light !default;

//skeleton
$skeletonBg:$color-surface-higher-light !default;
$skeletonAnimationBg:rgba(255,255,255,0.4) !default;

//splitter
$splitterGutterBg:$color-surface-higher-light !default;
$splitterGutterHandleBg:$color-surface-higher-light!default;

//speeddial
$speedDialButtonWidth: 4rem !default;
$speedDialButtonHeight: 4rem !default;
$speedDialButtonIconFontSize: 1.3rem !default;
$speedDialActionWidth: 3rem !default;
$speedDialActionHeight: 3rem !default;
$speedDialActionBg: $color-surface-inverse-light !default;
$speedDialActionHoverBg: #022354 !default;
$speedDialActionTextColor: #fff !default;
$speedDialActionTextHoverColor: #fff !default;

//dock
$dockActionWidth: 4rem !default;
$dockActionHeight: 4rem !default;
$dockItemPadding: .5rem !default;
$dockCurrentItemMargin: 1.5rem !default;
$dockFirstItemsMargin: 1.3rem !default;
$dockSecondItemsMargin: 0.9rem !default;
$dockBg: rgba(255,255,255,.1) !default;
$dockBorder: 1px solid rgba(255,255,255,0.2) !default;
$dockPadding: .5rem .5rem !default;
$dockBorderRadius: .5rem !default;

//image
$imageMaskBg:rgba(0,0,0,0.9) !default;
$imagePreviewToolbarPadding:1rem !default;
$imagePreviewIndicatorColor:#f8f9fa !default;
$imagePreviewIndicatorBg:rgba(0,0,0,0.5) !default;
$imagePreviewActionIconBg:transparent !default;
$imagePreviewActionIconColor:#f8f9fa !default;
$imagePreviewActionIconHoverBg:rgba(255,255,255,0.1) !default;
$imagePreviewActionIconHoverColor:#f8f9fa !default;
$imagePreviewActionIconWidth:3rem !default;
$imagePreviewActionIconHeight:3rem !default;
$imagePreviewActionIconFontSize:1.5rem !default;
$imagePreviewActionIconBorderRadius:50% !default;

:root {
 
    --text-color:#{$color-text-primary-light};
    --text-color-secondary:#{$color-text-secondary-light};
    --primary-color:#{$primaryColor};
    --primary-color-text:#{$primaryTextColor};
    --font-family:#{$fontFamily};
    --surface-0: #ffffff;
    --surface-50: #f1f4f6;
    --surface-100: #e2e8ee;
    --surface-200: #c6d1dd;
    --surface-300: #a9bbcb;
    --surface-400: #8da4ba;
    --surface-500: #708da9;
    --surface-600: #5a7187;
    --surface-700: #435565;
    --surface-800: #2d3844;
    --surface-900: #161c22;
    --gray-50: #f1f4f6;
    --gray-100: #e2e8ee;
    --gray-200: #c6d1dd;
    --gray-300: #a9bbcb;
    --gray-400: #8da4ba;
    --gray-500: #708da9;
    --gray-600: #5a7187;
    --gray-700: #435565;
    --gray-800: #2d3844;
    --gray-900: #161c22;
    --content-padding:#{$panelContentPadding};
    --inline-spacing:#{$inlineSpacing};
    --border-radius:#{$borderRadius};
    --surface-ground:#{$color-surface-lowest-light};
    --surface-section:#{$color-surface-low-light};
    --surface-card:#{$color-surface-low-light};
    --surface-overlay:#{$color-surface-low-light};
    --surface-border:#{$color-outline-low-light};
    --surface-hover:#{$color-surface-higher-light};
    --maskbg: #{$maskBg};
    --highlight-bg: #{$color-surface-high-light};
    --highlight-text-color: #{$color-text-primary-light};
    --focus-ring: #{$focusShadow};
    color-scheme: light;
}
