
    <h3>Spacing scale</h3>
    <p>The BPOST PRIME NG theme uses the native PRIMEFLEX classes to implement a spacing scale from 
    0.25 to 2rem. The scale is implemented by different predefined class according to its use (margin, padding, gap in flex layouts, etc). Please consult PRIMEFLEX for full documentation</p>


<div class="flex flex-column flex-wrap gap-4">

    <div id="xx-small" class="container flex flex-column gap-2 w-12 p-4">
<div class="flex justify-content-between">
    <code><strong>spacing-xx-small:0.25rem</strong></code>
    
</div>
<div class="flex gap-1 p-1 justify-content-center spacing-sample">
    <div class="card m-1 p-1"><h1>A</h1></div>
    <div class="card m-1 p-1"><h1>B</h1></div>
</div>
<div class="flex flex-column g-1 justify-content-center p-3 code-snippet">
   <code>&lt;div&gt; class="card m-1 p-1"&gt;&lt;h1&gt;A&lt;/h1&gt;&lt;/div&gt;</code>
   <code> &lt;div&gt; class="card m-1 p-1"&gt;&lt;h1&gt;B&lt;/h1&gt;&lt;/div&gt;</code>
</div>
    </div>

    <div id="x-small" class="container flex flex-column gap-2 w-12 p-4">
        <div class="flex justify-content-between">
            <code><strong>spacing-x-small:0.5rem</strong></code>
            
        </div>
        <div class="flex gap-2 p-2 justify-content-center spacing-sample">
            <div class="card m-2 p-2"><h1>A</h1></div>
            <div class="card m-2 p-2"><h1>B</h1></div>
        </div>
        <div class="flex flex-column g-1 justify-content-center p-3 code-snippet">
           <code>&lt;div&gt; class="card m-2 p-2"&gt;&lt;h1&gt;A&lt;/h1&gt;&lt;/div&gt;</code>
           <code> &lt;div&gt; class="card m-2 p-2"&gt;&lt;h1&gt;B&lt;/h1&gt;&lt;/div&gt;</code>
        </div>
            </div>

    <div id="small" class="container flex flex-column gap-2 w-12 p-4">
        <div class="flex justify-content-between">
            <code><strong>spacing-small:0.75rem</strong></code>
            
        </div>
        <div class="flex gap-small padding-small justify-content-center spacing-sample">
            <div class="card margin-small padding-small"><h1>A</h1></div>
            <div class="card margin-small padding-small"><h1>B</h1></div>
        </div>
        <div class="flex flex-column g-1 justify-content-center p-3 code-snippet">
            <code>&lt;div&gt; class="card margin-small padding-small"&gt;&lt;h1&gt;A&lt;/h1&gt;&lt;/div&gt;</code>
            <code> &lt;div&gt; class="card margin-small padding-small"&gt;&lt;h1&gt;B&lt;/h1&gt;&lt;/div&gt;</code>
        </div>
        <p-messages severity="info">
            <ng-template pTemplate>
                <p class="mt-3"><i class="pi pi-exclamation-circle mr-2"></i>No coresponding PrimeFlex class. <code>spacing-small</code> has to be 
                implemented manually using the <code>$sizeS</code> variable.
                </p>
            </ng-template>
        </p-messages> 
            </div>    



     <div id="medium" class="container flex flex-column gap-2 w-12 p-4">
                <div class="flex justify-content-between">
                    <code><strong>spacing-medium:1rem</strong></code>
                    
                </div>
                <div class="flex gap-3 p-3 justify-content-center spacing-sample">
                    <div class="card m-3 p-3"><h1>A</h1></div>
                    <div class="card m-3 p-3"><h1>B</h1></div>
                </div>
                <div class="flex flex-column g-1 justify-content-center p-3 code-snippet">
                   <code>&lt;div&gt; class="card m-3 p-3"&gt;&lt;h1&gt;A&lt;/h1&gt;&lt;/div&gt;</code>
                   <code> &lt;div&gt; class="card m-3 p-3"&gt;&lt;h1&gt;B&lt;/h1&gt;&lt;/div&gt;</code>
                </div>
                    </div>

    <div id="large" class="container flex flex-column gap-2 w-12 p-4">
        <div class="flex justify-content-between">
            <code><strong>spacing-large:1.5rem</strong></code>
        </div>
        <div class="flex gap-4 p-4 justify-content-center spacing-sample">
            <div class="card m-4 p-4"><h1>A</h1></div>
            <div class="card m-4 p-4"><h1>B</h1></div>
        </div>
        <div class="flex flex-column g-1 justify-content-center p-3 code-snippet">
            <code>&lt;div&gt; class="card m-4 p-4"&gt;&lt;h1&gt;A&lt;/h1&gt;&lt;/div&gt;</code>
            <code> &lt;div&gt; class="card m-4 p-4"&gt;&lt;h1&gt;B&lt;/h1&gt;&lt;/div&gt;</code>
        </div>
     </div>

     <div id="xlarge" class="container flex flex-column gap-2 w-12 p-4">
        <div class="flex justify-content-between">
            <code><strong>spacing-xlarge:2rem</strong></code>
        </div>
        <div class="flex gap-5 p-5 justify-content-center spacing-sample">
            <div class="card m-5 p-5"><h1>A</h1></div>
            <div class="card m-5 p-5"><h1>B</h1></div>
        </div>
        <div class="flex flex-column g-1 justify-content-center p-3 code-snippet">
            <code>&lt;div&gt; class="card m-5 p-5"&gt;&lt;h1&gt;A&lt;/h1&gt;&lt;/div&gt;</code>
            <code> &lt;div&gt; class="card m-5 p-5"&gt;&lt;h1&gt;B&lt;/h1&gt;&lt;/div&gt;</code>
        </div>
     </div>
    
</div>
