
    <h2>Semantic colours</h2>
    <p>Semantic colours convey meaning to the user. For custom components use the following variables</p>
    <h3>Naming convention</h3>
    <p>Semantic colours follow the below naming convention:</p>
    <ul>
        <li>prefix: <code>color</code>. All variable names of color start with the word 'color'</li>
        <li>color type denominator: <code>primary, secondary, info, validation, warning, error</code>. Declares the semantics of each colour. </li>
        <li>contrast denominator: <code>low, default, high, higher</code>. Declares the contrast of the color with a (white) background.</li>
        <li>suffix: <code>light, dark</code>. Declares the colour theme</li>
    </ul>
<div class="flex flex-row flex-wrap gap-2">
    
        <div *ngFor="let semanticColor of semanticColors" class="container p-4 m-2 ">
            <div>
            
                    <div class="flex flex-row justify-content-between">
                       <span><code>${{semanticColor.bgName}}</code></span>
                       <span><code>{{semanticColor.bgHex}}</code></span>
                    </div>
                    <div class="flex flex-column gap-1 color-sample {{semanticColor.bgName}}">
                        <h1>Aa</h1>
                        <div class="flex flex-row justify-content-between">
                            <span><code>${{semanticColor.fgName}}</code></span>
                            <span><code>{{semanticColor.fgHex}}</code></span>
                         </div>
                    </div>
                
    
            </div>
        </div>
</div>
<h2>Neutral colours</h2>
<p class="w-8">Neutral colours are based on two grey variants and are classified according to their use:</p>
<ul>
<li>Surfaces</li>
<li>Text</li>
<li>Outline</li>
</ul>
<h3>Naming convention</h3>
<p>Semantic colours follow the below naming convention:</p>
<ul>
    <li>prefix: <code>color</code>. All variable names of color start with the word 'color'</li>
    <li>colour use denominator: <code>surface, outline, text</code>. Declares the use of each colour. </li>
    <li>for surface and outline colours, contrast denominator: <code>lowest, low, default, high, higher, highest</code>. Declares the contrast of the colour with a (white) background.</li>
    <li>for text colours, contrast denominator: <code>primary, secondary, disabled </code>. Declares the priority of text, with primary the default</li>
    <li>for text colours, inverse denominator: <code>inverse </code></li>  
    <li>suffix: <code>light, dark</code>. Declares the colour theme</li>
</ul>
<h3>Surface & primary/secondary text colours</h3>
<div class="flex flex-row flex-wrap gap-2">
    
    <div *ngFor="let neutralColor of neutralColors" class="container p-4 m-2 ">
        <div>
        
                <div class="flex flex-row justify-content-between">
                   <span><code>${{neutralColor.bgName}}</code></span>
                   <span><code>{{neutralColor.bgHex}}</code></span>
                </div>
                <div class="flex flex-column gap-1 color-sample {{neutralColor.bgName}}">
                    <div class="flex flex-row">
                    <h1>Aa</h1><h2 class="{{neutralColor.fgNameSecondary}}">Aa</h2></div>
                    <div class="flex flex-row justify-content-between">
                        <span><code>${{neutralColor.fgNamePrimary}}</code></span>
                        <span><code>{{neutralColor.fgPrimaryHex}}</code></span>
                     </div>
                     <div class="flex flex-row justify-content-between">
                        <span><code>${{neutralColor.fgNameSecondary}}</code></span>
                        <span><code>{{neutralColor.fgSecondaryHex}}</code></span>
                     </div>
                    
                </div>
                <p class="mt-2">{{neutralColor.description}}</p>

        </div>
        
    </div>
    <h3>Disabled text</h3>
        <div class="container p-4 m-2 color-text-disabled-light"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque a enim nec elit convallis luctus eget et quam. Sed sed fermentum metus. Donec pellentesque elit ac felis ultrices, et cursus augue elementum. In vestibulum ultrices lacus sed posuere. Aliquam euismod, nunc a laoreet molestie, ligula sapien convallis nulla, nec condimentum nisi justo quis erat. Quisque tortor risus, volutpat ut enim interdum, ultricies sollicitudin elit. In eget blandit nisi. Praesent interdum lacus ut bibendum tempus. Donec augue magna, lobortis quis risus et, pharetra efficitur nulla. Pellentesque aliquet nisi metus, blandit consequat diam consectetur ut. Nam egestas turpis ut est bibendum, vitae feugiat mauris finibus. Mauris a justo sit amet odio mattis pellentesque nec eu justo.</p></div>
    <h3>Outlines</h3>
    <div class="flex w-full flex-row gap-2">
    <div *ngFor="let outlineColor of outlineColors" class="container p-4 m-2 ">
        <div>
        
            
                <div class="flex flex-column gap-1 color-sample {{outlineColor.name}}">
                   
                    <div class="flex flex-row justify-content-between">
                        <span><code>${{outlineColor.name}}</code></span>
                        <span><code>{{outlineColor.hex}}</code></span>
                     </div>
                   
                    
                </div>
                <p class="mt-2">{{outlineColor.description}}</p>

        </div>
        
    </div>
</div>