<div class="container p-4 m-2">
    <h2>Semantic colours</h2>
    <p>Semantic colours convey meaning to the user</p>
</div>


<div class="flex flex-row flex-wrap gap-2">
    
        <div class="container p-4 m-2">
            <div>
            
                    <div class="flex flex-row justify-content-between">
                       <span><code>primary</code></span>
                       <span><code>#DD1829</code></span>
                    </div>
                    <div class="flex flex-column gap-1 color-sample primary-sample">
                        <h1>Aa</h1>
                        <div class="flex flex-row justify-content-between">
                            <span><code>onPrimary</code></span>
                            <span><code>#FFFFFF</code></span>
                         </div>
                    </div>
                
    
            </div>
        </div>
    
  
        <!--<div class="container p-4 m-2">
            <div>
                <div class="flex flex-row justify-content-between">
                    <span><code>primaryContainer</code></span>
                    <span><code>#FFEDEB</code></span>
                </div>
                    <div class="flex flex-column gap-1 color-sample primaryContainer-sample">
                        <h1>Aa</h1>
                        <div class="flex flex-row justify-content-between">
                            <span><code>onPrimaryContainer</code></span>
                            <span><code>#580A10</code></span>
                         </div>
                    </div>
            </div>
        </div>-->

        <div class="container p-4 m-2">
            <div>
                <div class="flex flex-row justify-content-between">
                    <span><code>secondaryColor</code></span>
                    <span><code>#347794</code></span>
                </div>
                    <div class="flex flex-column gap-1 color-sample secondary-sample">
                        <h1>Aa</h1>
                        <div class="flex flex-row justify-content-between">
                            <span><code>white</code></span>
                            <span><code>#FFFFFF</code></span>
                         </div>
                    </div>
            </div>
        </div>
        <div class="container p-4 m-2">
            <div>
                <div class="flex flex-row justify-content-between">
                    <span><code>secondaryContainerColor</code></span>
                    <span><code>#D9EAF1</code></span>
                </div>
                    <div class="flex flex-column gap-1 color-sample secondaryContainer-sample">
                        <h1>Aa</h1>
                        <div class="flex flex-row justify-content-between">
                            <span><code>onSecondaryContainer</code></span>
                            <span><code>#0D1E25</code></span>
                         </div>
                    </div>
                    <div class="flex flex-row mt-1 justify-content-between">
                        <span><code>secondaryBorderColor</code></span>
                        <span><code>#27596F</code></span>
                    </div>
            </div>
        </div>

        <div class="container p-4 m-2">
            <div>
                <div class="flex flex-row justify-content-between">
                    <span><code>infoColor</code></span>
                    <span><code>#5355BB</code></span>
                </div>
                    <div class="flex flex-column gap-1 color-sample info-sample">
                        <h1>Aa</h1>
                        <div class="flex flex-row justify-content-between">
                            <span><code>onInfoContainer</code></span>
                            <span><code>#FFFFFF</code></span>
                         </div>
                    </div>
                    
            </div>
        </div>

        <div class="container p-4 m-2">
            <div>
                <div class="flex flex-row justify-content-between">
                    <span><code>infoContainerColor</code></span>
                    <span><code>#E9E9FF</code></span>
                </div>
                    <div class="flex flex-column gap-1 color-sample infoContainer-sample">
                        <h1>Aa</h1>
                        <div class="flex flex-row justify-content-between">
                            <span><code>onInfoContainer</code></span>
                            <span><code>#5355BB</code></span>
                         </div>
                    </div>
                    
            </div>
        </div>

        <div class="container p-4 m-2">
            <div>
                <div class="flex flex-row justify-content-between">
                    <span><code>validationColor</code></span>
                    <span><code>#448344</code></span>
                </div>
                    <div class="flex flex-column gap-1 color-sample validation-sample">
                        <h1>Aa</h1>
                        <div class="flex flex-row justify-content-between">
                            <span><code>white</code></span>
                            <span><code>#FFFFFF</code></span>
                         </div>
                    </div>
            </div>
        </div>
        
        <div class="container p-4 m-2">
            <div>
                <div class="flex flex-row justify-content-between">
                    <span><code>validationContainerColor</code></span>
                    <span><code>#E7F3E7</code></span>
                </div>
                    <div class="flex flex-column gap-1 color-sample validationContainer-sample">
                        <h1>Aa</h1>
                        <div class="flex flex-row justify-content-between">
                            <span><code>onValidationContainer</code></span>
                            <span><code>#1B341B</code></span>
                         </div>
                    </div>
                    <div class="flex flex-row mt-1 justify-content-between">
                        <span><code>validationBorderColor</code></span>
                        <span><code>#366936</code></span>
                    </div>
            </div>
        </div>

        <!--<div class="container p-4 m-2">
            <div>
                <div class="flex flex-row justify-content-between">
                    <span><code>warningColor</code></span>
                    <span><code>#FFC222</code></span>
                </div>
                    <div class="flex flex-column gap-1 color-sample warning-sample">
                        <h1>Aa</h1>
                        <div class="flex flex-row justify-content-between">
                            <span><code>white</code></span>
                            <span><code>#FFFFFF</code></span>
                         </div>
                    </div>
            </div>
        </div>-->

        <div class="container p-4 m-2">
            <div>
                <div class="flex flex-row justify-content-between">
                    <span><code>warningContainerColor</code></span>
                    <span><code>#FFF7E2</code></span>
                </div>
                    <div class="flex flex-column gap-1 color-sample warningContainer-sample">
                        <h1>Aa</h1>
                        <div class="flex flex-row justify-content-between">
                            <span><code>onWarningContainerColor</code></span>
                            <span><code>#664E0E</code></span>
                         </div>
                    </div>
                    <div class="flex flex-row mt-1 justify-content-between">
                        <span><code>warningBorderColor</code></span>
                        <span><code>#CC9B1B</code></span>
                    </div>
            </div>
        </div>

        <div class="container p-4 m-2">
            <div>
                <div class="flex flex-row justify-content-between">
                    <span><code>errorColor</code></span>
                    <span><code>#CB4D01</code></span>
                </div>
                    <div class="flex flex-column gap-1 color-sample error-sample">
                        <h1>Aa</h1>
                        <div class="flex flex-row justify-content-between">
                            <span><code>white</code></span>
                            <span><code>#FFFFFF</code></span>
                         </div>
                    </div>
            </div>
        </div>
        <div class="container p-4 m-2">
            <div>
                <div class="flex flex-row justify-content-between">
                    <span><code>errorContainerColor</code></span>
                    <span><code>#FFEDE6</code></span>
                </div>
                    <div class="flex flex-column gap-1 color-sample errorContainer-sample">
                        <h1>Aa</h1>
                        <div class="flex flex-row justify-content-between">
                            <span><code>onErrorContainer</code></span>
                            <span><code>#511F00</code></span>
                         </div>
                    </div>
                    <div class="flex flex-row mt-1 justify-content-between">
                        <span><code>errorBorderColor</code></span>
                        <span><code>#A23E01</code></span>
                    </div>
            </div>
        </div>


</div>
<h2>Neutral colours</h2>
<p class="w-5">Neutral colours are used to define sections in user interface and convey priority. <code>onSurface</code> is the primary text color. <code>onSurfaceVariant</code> is the secondary text color. Neutral background colors can also be combined with text with semantic color. For details please review the <a href="https://www.figma.com/file/yXrSk4IfgPw13t9tvEhBAV/Global-Styles?type=design&node-id=277%3A5661&t=4tLb9Ha3gPZwmqe1-1" target="_blank">design documentation</a>.</p>
<div class="flex flex-row flex-wrap gap-2">

    <div class="container p-4 m-2">
        <div>
            <div class="flex flex-row justify-content-between">
                <span><code>surfaceColor</code></span>
                <span><code>#F7FAF9</code></span>
            </div>
                <div class="flex flex-column gap-1 color-sample surfaceColor-sample">
                   
                        <h1>Aa <span class="text-color-secondary text-4xl">Aa</span></h1>
                    
                   
                    <div class="flex flex-row justify-content-between">
                        <span><code>onSurface</code></span>
                        <span><code>#191C1D</code></span>
                     </div>
                     <div class="flex flex-row justify-content-between">
                        <span><code>onSurfaceVariant</code></span>
                        <span><code>#576062</code></span>
                     </div>
                </div>
                <p class="mt-4">Default background color for all screens.</p>
        </div>
    </div>

   <!-- <div class="container p-4 m-2">
        <div>
            <div class="flex flex-row justify-content-between">
                <span><code>surfaceDimColor</code></span>
                <span><code>#D8DADA</code></span>
            </div>
                <div class="flex flex-column gap-1 color-sample surfaceDimColor-sample">
                   
                        <h1>Aa <span class="text-color-secondary text-4xl">Aa</span></h1>
                    
                   
                    <div class="flex flex-row justify-content-between">
                        <span><code>onSurface</code></span>
                        <span><code>#191C1D</code></span>
                     </div>
                     <div class="flex flex-row justify-content-between">
                        <span><code>onSurfaceVariant</code></span>
                        <span><code>#576062</code></span>
                     </div>
                </div>
                <p class="mt-4 w-8">A darker variant of the surface color.</p>
        </div>
    </div>-->

    <div class="container p-4 m-2">
        <div>
            <div class="flex flex-row justify-content-between">
                <span><code>surfaceContainerInverseColor</code></span>
                <span><code>#444748</code></span>
            </div>
                <div class="flex flex-column gap-1 color-sample surfaceInverseColor-sample">
                   
                        <h1>Aa <span class="onSurfaceInverseColor text-4xl">Aa</span></h1>
                    
                   
                    <div class="flex flex-row justify-content-between">
                        <span><code>white</code></span>
                        <span><code>#FFFFFF</code></span>
                     </div>
                     <div class="flex flex-row justify-content-between">
                        <span><code>onInverseContainerColor</code></span>
                        <span><code>#EFF1F1</code></span>
                     </div>
                </div>
                <p class="mt-4 w-8">Background color for inverse surfaces like a footer.</p>
        </div>
    </div>

    <div class="container p-4 m-2">
        <div>
            <div class="flex flex-row justify-content-between">
                <span><code>surfaceContainerLowestColor</code></span>
                <span><code>#FFFFFF</code></span>
            </div>
                <div class="flex flex-column gap-1 color-sample surfaceLowestColor-sample">
                   
                        <h1>Aa <span class="text-color-secondary text-4xl">Aa</span></h1>
                    
                   
                    <div class="flex flex-row justify-content-between">
                        <span><code>onSurface</code></span>
                        <span><code>#191C1D</code></span>
                     </div>
                     <div class="flex flex-row justify-content-between">
                        <span><code>onSurfaceVariant</code></span>
                        <span><code>#576062</code></span>
                     </div>
                </div>
                <p class="mt-4 w-8"> Default background color of all containers.</p>
        </div>
    </div>

    <!--<div class="container p-4 m-2">
        <div>
            <div class="flex flex-row justify-content-between">
                <span><code>surfaceContainerHighColor</code></span>
                <span><code>#E6E9E8</code></span>
            </div>
                <div class="flex flex-column gap-1 color-sample surfaceHighColor-sample">
                   
                        <h1>Aa <span class="text-color-secondary text-4xl">Aa</span></h1>
                    
                   
                    <div class="flex flex-row justify-content-between">
                        <span><code>onSurface</code></span>
                        <span><code>#191C1D</code></span>
                     </div>
                     <div class="flex flex-row justify-content-between">
                        <span><code>onSurfaceVariant</code></span>
                        <span><code>#576062</code></span>
                     </div>
                </div>
                <p class="mt-4 w-8">Background color of neutral UI elements.</p>
        </div>
    </div>-->

    <div class="container p-4 m-2">
        <div>
            <div class="flex flex-row justify-content-between">
                <span><code>surfaceContainerHighestColor</code></span>
                <span><code>#E1E3E3</code></span>
            </div>
                <div class="flex flex-column gap-1 color-sample surfaceHighestColor-sample">
                   
                        <h1>Aa <span class="text-color-secondary text-4xl">Aa</span></h1>
                    
                   
                    <div class="flex flex-row justify-content-between">
                        <span><code>onSurface</code></span>
                        <span><code>#191C1D</code></span>
                     </div>
                     <div class="flex flex-row justify-content-between">
                        <span><code>onSurfaceVariant</code></span>
                        <span><code>#576062</code></span>
                     </div>
                </div>
                <p class="mt-4 w-8">Neutral color for highlighting. Used in hover and selected states of neutral UI elements.</p>
        </div>
    </div>

</div>
<h3>Borders</h3>
<div class="flex flex-row flex-wrap gap-2">
    <div class="container p-4 m-2">
        <div>
            <div class="flex flex-row justify-content-between">
                <span><code>outlineColor</code></span>
                <span><code>#71797A</code></span>
            </div>
                <div class="flex flex-column gap-1 color-sample surfaceColor-sample outlineColor-sample">
                   
                        
                     
                </div>
                <p class="mt-4"><code>outlineColor</code> is used for UI elements with a neutral border such as input fields.</p>
        </div>
    </div>

    <div class="container p-4 m-2">
        <div>
            <div class="flex flex-row justify-content-between">
                <span><code>outlineVariantColor</code></span>
                <span><code>#BFC8CA</code></span>
            </div>
                <div class="flex flex-column gap-1 color-sample surfaceColor-sample outlineVariantColor-sample">
                   
                        
                     
                </div>
                <p class="mt-4"><code>outlineVariantColor</code> is used for seperators.</p>
        </div>
    </div>

    <div class="container p-4 m-2">
        <div>
            <div class="flex flex-row justify-content-between">
                <span><code>outlineVariantLighterColor</code></span>
                <span><code>#DEDEDF</code></span>
            </div>
                <div class="flex flex-column gap-1 color-sample surfaceColor-sample outlineVariantLighterColor-sample">
                   
                        
                     
                </div>
                <p class="mt-4"><code>outlineVariantLighterColor</code> is used for  lighter seperators.</p>
        </div>
    </div>

</div>


